.home__container {
	justify-items: center;
	flex-direction: column;
	min-width: 90vw;

	.images__container {
		width: 80%;
		height: 100vh;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 10px;
		align-items: center;

		img {
			border-radius: 20px;
		}

		p {
			text-align: justify;
			font-family: 'Poppins';
			font-size: 15px;
			padding: 20px;
		}
	}
}
