.login__container {
	width: 70vw;
	height: 70vh;
	margin-top: 3vh;
	border-radius: 20px;
	background-color: var(--details-color-2);
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 5rem;
		font-family: 'Fugaz One', Impact, Haettenschweiler, 'Arial Narrow Bold',
			sans-serif;
	}

	span {
		font-size: 10rem;
		color: aliceblue;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		label {
			display: flex;
			flex-direction: column;

			span {
				font-size: 1.4rem;
				text-align: center;
				font-family: 'Poppins', Arial, Helvetica, sans-serif;
			}

			input {
				border: 0;
				border-radius: 10px;
				height: 1.8rem;
				text-align: center;
				font-size: 1rem;
				font-family: 'Poppins', Arial, Helvetica, sans-serif;
			}
		}

		button {
			margin-top: 2rem;
			border-radius: 10px;
			background-color: var(--details-color-3);
			color: aliceblue;
			font-size: 1.8rem;
			font-family: 'Fugaz One', Impact, Haettenschweiler, 'Arial Narrow Bold',
				sans-serif;
		}
	}

	.register__link-container {
		margin-top: 2rem;
		flex-direction: column;
		p {
			font-family: 'Fugaz One', Impact, Haettenschweiler, 'Arial Narrow Bold',
				sans-serif;
		}

		span {
			font-size: 1rem;
			text-align: center;
			font-family: 'Poppins', Arial, Helvetica, sans-serif;
		}
	}
}
